<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes details</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="page-container">
        <h1><%=filename%></h1>
        <div class="outer-container">
            <form action="/" method="Get">
                <div class="inner-box">
                    <h2><%=filedata%></h2>
                    <input type="submit" value="GO TO HOME">
                </div>
            </form>
        </div>
    </div>

</body>
</html>